body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  padding-left: 600px;
}

.contents {
  text-align: center;
  margin-top: 100px;
  width: 600px;
  text-align: left;
}

.contents .form {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  font-size: medium;
}

.contents .chk {
  margin-top: 20px;
  height: 30px;
  width: 30px;
  font-size: medium;
}

.btn-submit-container {
  text-align: center;
}

.btn-submit {
  margin-top: 10px;
  height: 30px;
}

.error-message {
  color: red;
}
