body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.login {
  text-align: center;
  margin-top: 100px;
}

.login .form {
  width: 30%;
  margin-top: 20px;
  height: 30px;
  font-size: medium;
}

.btn-login {
  margin-top: 10px;
  height: 30px;
}

.error-message {
  color: red;
}
